body {
    display: flex;
    position: absolute;
    align-items: center;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 30%;
}

.title {
    color: red;
}

.card {
    padding: 15px;
}